<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/donut.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/barchart.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/breathing.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/emojis.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>VENT</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="/assets/js/aqi.js"></script>
    <script src="/assets/js/map.js"></script>

    <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjX4meNopLiNIfOqt3YoVAbCGJhM1xP4s&libraries=visualization">
</script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjX4meNopLiNIfOqt3YoVAbCGJhM1xP4s&map_ids=7021e6413f8b24fc&callback=initMap"></script>

    <script src="/assets/js/donutchart.js"></script>
    <script src="/assets/js/barchart.js"></script>
    <script src="/assets/js/emojis.js"></script>
       <script src="/public/assets/js/emojis.js"></script>
    <script src='/assets/js/civic.js'></script>
    <script
        src="https://www.googleapis.com/civicinfo/v2/representatives?key=<AIzaSyBI6hpyHbsOD7Qk2e2C3d0Ti5kLW59QPc4>&address=1263%20Pacific%20Ave.%20Kansas%20City%20KS"></script>
</head>

<body>
    {{{ body }}}


</body>

</html>
