<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">V E N T</a>
</nav>
<div class="sidebar">

    <h3> CLEAR THE AIR</h3>
    <h3> WITH YOUR REPRESENTATIVE</h3>

    <br>
    <br>

    <form id="location">
        <h4>Location</h4>
        <input type='text' id='location' placeholder='City or Zip Code'>
        <input type="submit" id='locationsubmit' value="Submit">
    </form>

    <br>
    <br>

    <div id="politican">
        {{!-- Politician info will populate here --}}
    </div>

</div>

<div class="content">
    <div>
        <h4 class="share">Share Your Thoughts!</h4>
        <h4 class="share">What do you want to tell your Senator</h4>
        <textarea id="civic-text" name="civicText" rows="10" cols="150">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure facilis excepturi dolores distinctio molestias nisi aliquid quasi ea est, quod illo eveniet. Aut, error. Quisquam ipsum ea doloremque vel harum.
        </textarea>
        <button onclick="myFunction()">Copy Message</button>
        <input type="submit" id='messageSubmit' value="Submit">
    </div>
</div>
