<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">V E N T</a>
</nav>
<div class="sidebar">

    <h3> CLEAR THE AIR</h3>
    <h3> WITH YOUR REPRESENTATIVE</h3>

    <br>
    <br>

    <form>
        <h4>location Search Function Here</h4>
        <input type='text' id='location' placeholder='City or Zip Code'>
        <br>
        <br>
        <br>
    </form>
    <h4>How ya Feeling goes here</h4>
    <form id="smileys">
        <input type="radio" name="smiley" value="sad" class="sad">
        <input type="radio" name="smiley" value="neutral" class="neutral">
        <input type="radio" name="smiley" value="happy" class="happy" checked="checked">
        <div>It looks like you're feeling <span id="result">happy</span> today..</div>

        <br>
        <h4>How ya Breathin goes here</h4>
    <div class="semi-donut margin" style="--percentage : 80; --fill: #FF3D00 ;"><br>
        <h4>Graphs go here</h4>
    </div>
    <div id="doughnutChart" class="chart"></div>
    <div id="barChart" class="barchart"></div>

</div>

<div class="content">

    <div class='mapDiv col s12 m12 l6'>
        <div id='map'></div>
    </div>
</div>

<div class="info">
    All Data goes here..data....data...more dataaaaaaaaaaaaaaaaaaaaaaa.... you get the idea
</div>
