

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">WORDS</a>
</nav>

<h1>Vent</h1>
<h2>Clear the Air with your Representative </h2>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/donut.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/barchart.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/emojis.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />


<script src="/assets/js/map.js"></script>
<script src="/assets/js/donutchart.js"></script>
<script src="/assets/js/barchart.js"></script>
<script src="/assets/js/emojis.js"></script>

{{!-- Charts, feel free to move around --}}
<div class="semi-donut margin" style="--percentage : 80; --fill: #FF3D00 ;">
    Graphs go here
</div>
<div id="doughnutChart" class="chart"></div>
<div id="barChart" class="barchart"></div>
<div id="emojis" class="emojis"></div>
<div class='mapDiv col s12 m12 l6'>
    <div id='map'></div>
</div>

<br>
<form>
    <input type='text' id='location' placeholder='City, State or Zip Code'>
    <br>
    <br>
    <input type='radio' id='negative' name='feeling' value='negative'>
    <input type='radio' id='neutral' name='feeling' value='neutral'>
    <input type='radio' id='positive' name='feeling' value='positive'>
</form>
<br>
<br>
<form>
   <input type='radio' id='cantBreathe' name='breath' value='Can''t Breathe'>
     <input type='radio' id='canBreathe' name='breath' value='Can Breathe'>

</form>


<script src="/assets/js/map.js"></script>
<script defer
    src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDjX4meNopLiNIfOqt3YoVAbCGJhM1xP4s&libraries=visualization&callback=initMap'></script>
<script src="/assets/js/donutchart.js"></script>
<script src="/assets/js/barchart.js"></script>
<script src="/assets/js/emojis.js"></script>

</body>
