<h1>Vent</h1>

<form>
    <input type='text' id='location' placeholder='City, State or Zip Code'>
    <br>
    <input type='radio' id='negative' name='feeling' value='negative'>
    <input type='radio' id='neutral' name='feeling' value='neutral'>
    <input type='radio' id='positive' name='feeling' value='positive'>
</form>
