<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">V E N T</a>
</nav>
<div class="sidebar">

    <h2> CLEAR THE AIR</h2>
    <h3> WITH YOUR REPRESENTATIVE</h3>
    <br>
    <form id="location">
        <h4>Where do you want to Search?</h4>
        <input type='text' id='location' name = 'location' placeholder='City or Zip Code'>
        <input type="button" id='msgSubmit' name = 'submitbutton' value="Submit" onclick="sendlocation()">
    </form>
    </form>
    <br>
    <br>
    <h4>How ya Feelin?</h4>
    <form id="smileys">
        <input type="radio" name="smiley" value="sad" class="sad" checked="checked" onclick="displayEmojiValue()">
        <input type="radio" name="smiley" value="neutral" class="neutral" onclick="displayEmojiValue()">
        <input type="radio" name="smiley" value="happy" class="happy" onclick="displayEmojiValue()">
        <div>It looks like you're feeling <span id="result"></span> today..</div>

    </form>
    </form>
    <br>
    <br>

    <form id="breathes">
        <h4>How ya Breathin?</h4>
        <input type="radio" name="breathe" value="cant" class="cant" onclick = "displayBreatheValue()">
        <input type="radio" name="breathe" value="can" class="can" checked="checked" onclick = "displayBreatheValue()">
         <div>It looks like you <span id="result2"></span> breathe today..</div>
    </form>
    </form>

    <form id="message">
        <h4>Clear the air with your Senator?</h4>
        <input type='text' id='messagebox' name = 'messagebox' placeholder='Hello, Senator'>
        <input type="button" id='msgSubmit' value="Submit">
        <br>

    </form>
    <div class="semi-donut margin" style="--percentage : 80; --fill: #FF3D00 ;">
        <br>
        <h4>Graphs go here</h4>
    </div>
    {{!-- <div id="doughnutChart" class="chart"></div>  --}}
</div>


<div class="content">
    <div id='map'></div>
</div>
</div>

<div class="info">
    All Data goes here..data....data...more dataaaaaaaaaaaaaaaaaaaaaaa.... you get the idea
</div>
