<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">V E N T</a>
</nav>

<body>
    <div class="sidebar">
        <h2> CLEAR THE AIR</h2>
        <h3> WITH YOUR REPRESENTATIVE</h3>
        <div class="wrapper">
            <form id="location-form" action="/" method="POST">
                <h4>Where do you want to Search?</h4>
                <input id="location" name="location" type='text' placeholder='City or Zip Code' value="{{location}}">
                <button class='location-submit' type="submit">Search</button>
            </form>
        </div>
        <h4>How ya Feelin?</h4>
        <form id="feedback-form" action="/" method="POST">
            <input id="location-feedback" name="location" type="hidden" value="{{location}}">
            <input id="aqi" name="aqi" type="hidden">
            <input type="radio" name="emotion" value="sad" class="sad" checked="checked" onclick="displayEmojiValue()">
            <input type="radio" name="emotion" value="neutral" class="neutral" onclick="displayEmojiValue()">
            <input type="radio" name="emotion" value="happy" class="happy" onclick="displayEmojiValue()">
            <div>It looks like you're feeling <span id="result">happy</span> today..</div>
            <br>
            <h4>How ya Breathin?</h4>
            <input type="radio" name="breathe" value="cant" class="cant" onclick="displayBreatheValue()">
            <input type="radio" name="breathe" value="can" class="can" checked="checked"
                onclick="displayBreatheValue()">
            <div>It looks like you <span id="result2">can</span> breathe today..</div>
            <br>
            <h4>Clear the air with your Senator?</h4>
            <div id='civic'></div>
            <textarea id='messageBox' name='message' rows='4' cols='25'>Hello, Senator...</textarea>
            <br>
            <button type="submit">Submit</button>
            <br>
        </form>
    </div>
    <div class="content">
        <div id='map'>
            <div id='mapresults'>Getting Data.....<span id="mapresult">
                    <div id='locationQueryError' type="hidden"></div>
                </span> </div>
        </div>
        <div class="info">
            <div class="charts">
                <br>
                <donut class="semi-donut margin" style="--percentage : 10 ; --fill: #3CB4FC" ;>
                    <div>Air Quality Index: <span id="AQIresults"></span></div>
                </donut>
            </div>
        </div>

        <div class="chart2">
            <br>
            <div>General Health Tips<span id="chart2"></span>
            <div></div>
            <br>
                <ul>
                    <li>If you start to feel respiratory discomfort such as coughing or breathing difficulties, consider
                        reducing the intensity of your outdoor activities.
                    Limit the time you spend near busy roads, construction sites, open fires and other sources of
                        smoke.</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="sqltable" id="sqltable">
                <table align="center" cellspacing="0" cellpadding="5">
                    <tr>
                        <th>iq </th>
                        <th>aqi</th>
                        <th>location</th>
                        <th>emotion</th>
                        <th>breathe</th>
                        <th>message</th>
                        <th>createdAt</th>
                        <th>updatedAt</th>
                    </tr>
                </table>
            </div>
        </div>
</body>
