
  form#breathes input[type="radio"] {
    -webkit-appearance: none;
    width: 70px;
    height: 120px;
    border: none;
    cursor: pointer;
    -webkit-transition: border 0.2s ease;
    transition: border 0.2s ease;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  form#breathes input[type="radio"]:hover, form#breathes input[type="radio"]:checked {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
            outline-color: -webkit-focus-ring-color;
            outline-style: auto;

  }

  form#breathes input[type="radio"].cant {
    background: url(/assets/img/cantbreathe.PNG) center;
    background-size: cover;
  }
  form#breathes input[type="radio"].can {
    background: url(/assets/img/canbreathe.PNG) center;
    background-size: cover;
  }

