
  form#breaths input[type="radio"] {
    -webkit-appearance: none;
    width: 90px;
    height: 150px;
    border: none;
    cursor: pointer;
    -webkit-transition: border 0.2s ease;
    transition: border 0.2s ease;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  form#breaths input[type="radio"]:hover, form#breaths input[type="radio"]:checked {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }

  form#breaths input[type="radio"].can{
    background: url(/assets/img/Happy.PNG) center;
    background-size: cover;
  }
  form#breaths input[type="radio"].neutral {
    background: url(/assets/img/Neutral.PNG) center;
    background-size: cover;
  }
  form#breaths input[type="radio"].cant {
    background: url(/assets/img/Negative.PNG) center;
    background-size: cover;
    height: 200 px;
  }

