
  form#smileys input[type="radio"] {
    -webkit-appearance: none;
    width: 70px;
    height: 120px;
    border: none;
    cursor: pointer;
    -webkit-transition: border 0.2s ease;
    transition: border 0.2s ease;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  form#smileys input[type="radio"]:hover, form#smileys input[type="radio"]:checked {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);

            outline-color: -webkit-focus-ring-color;
            outline-style: auto;

  }

  form#smileys input[type="radio"].happy {
    background: url(/assets/img/Happy.png) center;
    background-size: cover;
  }
  form#smileys input[type="radio"].neutral {
    background: url(/assets/img/Neutral.png) center;
    background-size: cover;
  }
  form#smileys input[type="radio"].sad {
    background: url(/assets/img/Negative.png) center;
    background-size: cover;

  }

