.navbar-brand { font-size: 75px;
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: inline-block;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    list-style-type: none;
  }

h2 {
    text-align: left;
}

h3 {
text-align: left;

}

h4 {
    font-size: 20px;
}

  .label {
    font-weight: bold;
  }

  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }

  .form-group {
    margin-bottom: 5px;
  }

  body {
    text-align: center;
    background-image: linear-gradient(to right, rgba(61,99,246, .5),  rgba(0,196,204 ),rgba(107,213,227) );
  }
  form {
    display: inline-block;
  }

  img {
    height: 100px;
    width: 50%;

  }

  .sidebar {
    position: absolute;
    top: 138px;
    width: 320px;
    height: auto;
    background: rgb(109, 122, 134);

  }

.content {
    margin-top: 20px;
    margin-left: 180px;
    margin-bottom: 20px;
    height: 600px;
    width: auto;
    position: block;
    background-image: linear-gradient(to right, rgba(61,99,246, .5),  rgba(0,196,204 ),rgba(107,213,227) );
}
.info {
    width: auto;
    height: 325px;
    position: inline-block;
    background: white;
}
/* Results from Google Map API */
#map {
    margin-left: 200px;
    margin-right: 60px;

    height: 560px;

    border: solid black;
    position: block;
    width: auto;
}

#civic-text {
    margin-left: 200px;
    margin-right: 60px;
    border: solid black;
    position: block;
    width: auto;
}
