

@import url(//fonts.googleapis.com/css?family=Oswald:400);
body {
  background: #222428;
  font-family: "Oswald", sans-serif;
}


.navbar-brand { font-size: 60px;
    height: 90px;

}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: inline-block;
}

li {
    margin-right: 50px;
    background: #faebd7;
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
  }

h2 {
    text-align: left;
    margin-left: 10px;

}
h3 {
text-align: left;
margin-left: 10px;
}
h4 {
    font-size: 18px;
    text-align: center;
}
  .label {
    font-weight: bold;
  }
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  .form-group {
    margin-bottom: 5px;
  }
  body {
      text-align: center;
    background-image: linear-gradient(to right, rgba(61,99,246, .5),  rgba(0,196,204 ),rgba(107,213,227) );
  }
  form {
    display: inline-block;
  }
  img {
    height: 80px;
    width: 50%;

  }
  .sidebar {
    position: absolute;
    top: 106px;
    width: 320px;
    height: 200%;
    background: rgb(109, 122, 134);
  }
  .wrapper {
      text-align: center;
      margin-left: 10px;
  }
  .messagebox {
      text-align: center;
  }
.content {
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 20px;
    margin-bottom: 35px;
    height: 600px;
    width: auto;
    position: block;
}

.charts {
    background:   rgb(52,58,64, 0.7);
}

.info {
    width: auto;
    height: 200px;
    position: inline;
    background: rgb(52,58,64, 0.7);
    margin-left: 180px;
    margin-right: 8px;
    float: left;


}

.chart2 {
    width: auto;
    height: 200px;
    position: inline;
    background: white;
    margin-left: 530px;
    font-size: 18px;
    line-height: 17px;
    text-align: center;

}


.sqltable {
    width: auto;
    margin-top: 10px;
    margin-left: 180px;
    margin-right: 1px;
    height: 200px;
    position: inline;
    background: grey;

}


/* Results from Google Map API */
#map {
    margin-top: 20px;
    margin-left: 180px;
    margin-bottom: 10px;
    position: block;
    height: 400px;
    background-color: rgb(46,56,70);
    border: solid black;
    position: inline-block;
    width: auto;
}

#mapresults {
    text-align: center;
    color: white;
    margin-top: 150px;
}

#civic-text {
    margin-left: 200px;
    margin-right: 60px;
    border: solid black;
    position: block;
    width: auto;
}
footer {
    margin-top: 50px;
    background-color: #343A40;
    width: auto;
    height: 100px;
    position: inline-block;
    }
