h1 {


}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    list-style-type: none;
  }

  .label {
    font-weight: bold;
  }

  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }

  .form-group {
    margin-bottom: 5px;
  }

  body {
    text-align: center;
    background-image: linear-gradient(to right, rgba(61,99,246, .5),  rgba(0,196,204 ),rgba(107,213,227) );
  }
  form {
    display: inline-block;
  }

  img {
    height: 250px;
    width: 50%;

  }
